<!DOCTYPE html>
<head>
    <title>Potter</title>
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
    </script>
</head>

<body>
    <h1>Is it a pothole?</h1>
    <hr>
    <input type="checkbox" name="switch" id="switch" onclick="mainFunc()">Sending checkbox
    <div id='indicator'></div>
</body>




<!--Clientside script-->
<script>
window.addEventListener("devicemotion", accelerometer,True);
window.addEventListener('deviceorientation', orientation, True);

var x, y, z, alpha, gamma, beta;
var arr = {'data':[]};
//Events that are running always
function accelerometer(event){
    x = event.accelerationIncludingGravity.x;
    y = event.accelerationIncludingGravity.y;
    z = event.accelerationIncludingGravity.z;
}

function orientation(event){
    alpha = event.alpha;
    gamma = event.gamma;
    beta = event.beta;
}
//Main function,
//Creates list of sensor data.
function mainFunc(){
    if(document.getElementById('checkbox').checked){
        interval = setInterval(() => {
            arr['data'].push(x,y,z,alpha,gamma,beta);
            /*if(arr['data'].length >=30){
            send();
            }*/
        }, 200);
    } else {
        clearInterval(interval);
    }
}

//Ajax get request
//Checks for a response and animates the indicator accordingly.
function send(){
    $.ajax({
                url: "{% url 'detect' %}",
                data: arr,
                async: false,
                success: function(data){
                    if (data==True){
                        $('#indicator').fadeIn('slow');
                        $('#indicator').fadeOut('slow');
                    }
                }
    })
    arr['data'].length = 0;

};
</script>