<!DOCTYPE html>
<head>
    <title>Potter</title>
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
    </script>
    <style>
    #indicator{
        width: 50px;
        height:50px;
        background: chartreuse;
        display:none;
    }
    </style>
</head>

<body>
    <h1>Is it a pothole?</h1>
    <hr>
    <input type="button" name="switch" id="switch" onclick="mainFunc()">Sending checkbox
    <hr>  
    <input type="text" readonly id="x" value =""> <br>
    <input type="text" readonly id="y" value =""> <br>
    <input type="text" readonly id="z" value =""> <br>
    <input type="text" readonly id="a" value =""> <br>
    <input type="text" readonly id="g" value =""> <br>
    <input type="text" readonly id="b" value =""> <br>
    <div id='indicator'></div>
</body>




<!--Clientside script-->
<script>
    var x, y, z, alpha, gamma, beta;
    var interval;
    var arr = {'data':[]};
    var on = false;
    
    
//Events that are running always
window.addEventListener("devicemotion", function(event){
        x = event.accelerationIncludingGravity.x;
        y = event.accelerationIncludingGravity.y;
        z = event.accelerationIncludingGravity.z;
        //console.log(event)
        }
    ,true);
window.addEventListener('deviceorientation', function(event){
        alpha = event.alpha;
        gamma = event.gamma;
        beta = event.beta;
        }
    ,true);



$('input').on('click', function(){
    if(on==true){
        on=false;
    } else {
        on=true;
    }
});

//Main function,
//Creates list of sensor data.
function mainFunc(){
    if(on==true){
        interval = setInterval(() => {
            arr['data'] = arr['data'].concat([x,y,z,alpha,gamma,beta]);
            $("#x").val(x);
            $("#y").val(y);
            $("#z").val(z);
            $("#a").val(alpha);
            $("#g").val(gamma);
            $("#b").val(beta);
            if(arr['data'].length >=30){
            send();
            console.log(arr['data']);
            }
            console.log([x,y,z,alpha,gamma,beta]);
        }, 200);
    } else {
        clearInterval(interval);
    }
}

//Ajax get request
//Checks for a response and animates the indicator accordingly.
function send(){
    $.ajax({
                url: "{% url 'detect' %}",
                data: arr['data'],
                async: false,
                dataType : 'json',
                success: function(data){
                    if (data==1){
                        $('#indicator').fadeIn('slow');
                        $('#indicator').fadeOut('slow');
                    }
                }
    })

    arr['data'].length = 0;
};
</script>